.video-card-watch-later-icon {
    background-color: var(--color-white);
    max-height: 70%;
    display: inline;
}

.video-card-watch-later-icon .video-image {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

.video-card-watch-later-icon .video-name {
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
}

.video-card-watch-later-icon .video-details {
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0rem 0.7rem;
}

.video-card-watch-later-icon .video-watch-btn {
    margin: 1rem 0rem 0rem;
    width: 100%;
    border-radius: 0;
    font-size: 1.1rem;
    background-color: var(--grey-background-card);
    color: var(--color-white);
    font-weight: 500;
}

.video-card-watch-later-icon .video-watch-btn:hover {
    margin: 1rem 0rem 0rem;
    width: 100%;
    border-radius: 0;
    font-size: 1.1rem;
    background-color: var(--primary-videoLib-color);
    color: var(--color-white);
    font-weight: 500;
}

.video-card-watch-later-icon .relative-box {
    position: relative;
}

.video-card-watch-later-icon .icon {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 9px;
    fill: var(--color-red);
    height: 30px;
    width: 30px;
    border: 5.5px solid var(--color-white);
    background-color: var(--color-white);
    border-radius: 2rem;
}