* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-videoLib-color: #ff3b30;
    --grey-background-card: #A8A8A8;
    --body-background-color: #f7f7f7;
}

body {
    background-color: var(--body-background-color);
}

/** Navigation bar **/
.nav-box-bar.desktop-nav {
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    padding: 1rem 5rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-text span {
    color: var(--primary-videoLib-color);
}

#social-links-bar .no-bg.hov.btn-solid-primary {
    height: auto;
    width: auto;
    background-color: var(--primary-videoLib-color);
    color: var(--color-white);
    margin: 0;
    margin-right: 1rem;
}

#social-links-bar .no-bg.user-icon {
    font-size: 1.6rem;
    height: auto;
}

#social-links-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/** End of Navigation bar **/


.side-context-box {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.side-context-box .side-content {
    width: 16%;
    position: fixed;
    height: 100vh;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.side-content ul {
    margin: 0rem;
}

ul .side-ways {
    display: flex;
    flex-flow: row wrap;
}

li i {
    margin-left: 1.5rem;
}

li p {
    margin-left: 0.7rem;
}

ul li {
    padding: 0.7rem 0.7rem;
    list-style: none;
    font-size: 1.3rem;
    margin-top: 2.5rem;
}

ul li:hover {
    cursor: pointer;
    padding: 0.7rem 0.7rem;
    list-style: none;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    fill: var(--primary-videoLib-color);
    color: var(--primary-videoLib-color);
}

.side-context-box .main-content {
    position: absolute;
    left: 19%;
    width: 80%;
    margin-right: 20%;
}

/** History section **/
.playlist-section {
    margin-top: 4.2rem;
}

.main-content .side-ways {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.playlist-section #delete-playlist-btn {
    margin: 1rem 0rem;
    margin-right: 1rem;
    background-color: var(--primary-videoLib-color);
}

.playlist-section .heading-section {
    font-size: 1.7rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

/* Video card */
.playlist-box {
    background-color: var(--color-white);
    margin: 0rem 0.6rem;
    max-height: 70%;
    padding: 1.2rem 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    width: 22%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.playlist-box .playlist-name {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.playlist-box .playlist-videos {
    margin-top: 8px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.playlist-box button {
    cursor: pointer;
    fill: var(--color-white);
    stroke: #000;
    stroke-width: 1.5rem;
    height: 35px;
    width: 35px;
    border: 10px solid var(--body-background-color);
    background-color: var(--color-white);
    border-radius: 2rem;
}

.flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}