/** Banner section **/
.banner-section {
    margin: 5rem 5rem 0rem;
    position: relative;
}

.banner-section img {
    object-fit: cover;
    height: 470px;
    width: 100%;
}

.banner-intro {
    position: relative;
}

.layout-above {
    position: absolute;
    top: 70%;
    left: 2%;
}

.layout-above p {
    color: var(--color-white);
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.layout-above button {
    font-size: 1.2rem;
    font-weight: 500;
}

/** End of Banner section **/

/** Must watch section **/
.must-watch-section {
    margin: 1rem 5rem 2rem 5rem;
}

.must-watch-section .flex-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    margin: 1rem 1rem 2rem 0rem;
    gap: 1.5rem 1.3rem;
}

/** End of Must watch section **/