* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-videoLib-color: #ff3b30;
    --grey-background-card: #A8A8A8;
    --body-background-color: #f7f7f7;
}

body {
    background-color: var(--body-background-color);
}

/** Navigation bar **/
.nav-box-bar.desktop-nav {
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    padding: 1rem 5rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-text span {
    color: var(--primary-videoLib-color);
}

#social-links-bar .no-bg.hov.btn-solid-primary {
    height: auto;
    width: auto;
    background-color: var(--primary-videoLib-color);
    color: var(--color-white);
    margin: 0;
    margin-right: 1rem;
}

#social-links-bar .no-bg.user-icon {
    font-size: 1.6rem;
    height: auto;
}

#social-links-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/** End of Navigation bar **/

.side-context-box {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.side-context-box .side-content {
    width: 16%;
    position: fixed;
    height: 100vh;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.side-content ul {
    margin: 0rem;
}

ul .side-ways {
    display: flex;
    flex-flow: row wrap;
}

li i {
    margin-left: 1.5rem;
}

li p {
    margin-left: 0.7rem;
}

ul li {
    padding: 0.7rem 0.7rem;
    list-style: none;
    font-size: 1.3rem;
    margin-top: 2.5rem;
}

ul li:hover {
    cursor: pointer;
    padding: 0.7rem 0.7rem;
    list-style: none;
    font-size: 1.3rem;
    margin-top: 2.5rem;
    fill: var(--primary-videoLib-color);
    color: var(--primary-videoLib-color);
}

.side-context-box .main-content {
    position: absolute;
    left: 19%;
    width: 80%;
    margin-right: 20%;
}

/** History section **/
.playlist-detail-section {
    margin-top: 4.2rem;
}

.main-content .side-ways {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.playlist-detail-section #delete-playlist-btn {
    margin: 1rem 0rem;
    margin-right: 1rem;
    background-color: var(--primary-videoLib-color);
}

.playlist-detail-section .heading-section {     
    font-size: 1.7rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

/** Video card **/
.video-card {
    background-color: var(--color-white);
    margin: 0rem 0.6rem;
    max-height: 70%;
    display: inline;
}

.video-card .video-image {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

.video-card .video-name {
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
}

.video-card .video-details {
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0rem 0.7rem;
}

.video-card .video-watch-btn {
    margin: 1rem 0rem 0rem;
    width: 100%;
    border-radius: 0;
    font-size: 1.1rem;
    background-color: var(--grey-background-card);
    color: var(--color-white);
    font-weight: 500;
}

.flex-center {
    display: flex;
    justify-content: start;
}

/** Video card **/

.video-card-playlist-detail {
    background-color: var(--color-white);
    margin: 0rem 0.6rem;
    max-height: 70%;
    display: inline;
}

.video-card-playlist-detail .video-image {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

.video-card-playlist-detail .video-name {
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.5rem 0.7rem;
}

.video-card-playlist-detail .video-details {
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0rem 0.7rem;
}

.video-card-playlist-detail .video-watch-btn {
    margin: 1rem 0rem 0rem;
    width: 100%;
    border-radius: 0;
    font-size: 1.1rem;
    background-color: var(--grey-background-card);
    color: var(--color-white);
    font-weight: 500;
}

.video-card-playlist-detail .video-watch-btn:hover {
    margin: 1rem 0rem 0rem;
    width: 100%;
    border-radius: 0;
    font-size: 1.1rem;
    background-color: var(--primary-videoLib-color);
    color: var(--color-white);
    font-weight: 500;
}

.video-card-playlist-detail .relative-box {
    position: relative;
}

.video-card-playlist-detail .icon {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 9px;
    fill: var(--color-white);
    stroke: #000;
    stroke-width: 2rem;
    height: 29px;
    width: 27px;
    border: 6px solid var(--color-white);
    background-color: var(--color-white);
    border-radius: 2rem;
}