.categories-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1.5rem 0rem;
}

.categories-box .category {
    cursor: pointer;
    padding: 0.7rem;
    color: var(--color-white);
    background-color: var(--primary-videoLib-color);
    border: 1px solid var(--primary-videoLib-color);
    border-radius: 32px;
    font-size: 1.1rem;
}