.side-context-box {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.side-context-box .main-content {
    position: absolute;
    left: 19%;
    width: 80%;
    margin-right: 20%;
}

.explore-section {
    margin-top: 4.2rem;
}

.explore-section .flex-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem 1rem 2rem 0rem;
    gap: 2.7rem 1.3rem;
}