* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-videoLib-color: #ff3b30;
    --grey-background-card: #A8A8A8;
    --body-background-color: #f7f7f7;
  }
  
  body {
    margin-top: 5rem;
    background-color: var(--body-background-color);
  }